<!DOCTYPE html'
<html>
  <head>
    <link rel='stylesheet' href='/../css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/../css/styles.css' type='text/css'>
    <title>Contact</title>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <div class='row'>
            <div class='col-md-6'>
              <h3>address book</h3>
              <h3>directorio</h3>
              <h3>addressbuch</h3>
              <h3>carnet d'adresses</h3>
              <h3>kitabu cha anwani</h3>
              <h3>jushoroku</h3>
              <h3>livro de endereços</h3>
            </div>
            <div class='col-md-3'>
            </div>
            <div class='col-md-3' id='align'>
              <h3>dizhi bu</h1>
              <h3>adres defteri</h3>
              <h3>pata pustika</h3>
              <h3>helu puke</h3>
              <h3>adres bukh</h3>
              <h3>dalil aleanawin</h3>
              <h3>osoitekirja</h3>
            </div>
          </div>
        </div>
      <div class='well'>
        <h1>contact information</h1>
        <h3>{{ new_contact.getFirstName }} {{ new_contact.getLastName }}</h3>
          <p>{{ new_contact.getPhone }}</p>
          <p>{{ new_contact.getAddress }}</p>
        <h4><a href='/'>home</a></h4>
      </div>
    </div>
  </body>
</html>
