<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Remove Contacts</title>
</head>
<body>
    <h1>Address Book Cleared!</h1>
    <h3><a href='/'>Home</a></h3>
</body>
</html>
