body {
    background-color: #212121;
    color:white;
}
.jumbotron {
    background-image: url('/../img/city2.jpg');
    background-repeat: round;
    color: white;
}
#align {
    text-align: right;
}

.well {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #2E2E2E;
    border: black;
}
